<?xml version="1.0" encoding="iso-8859-1"?>

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>nenlineaBackend.FirstServlet</servlet-class>
        
    </servlet>
  
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/nenlineaBackend</url-pattern>
       
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        
    </session-config>
    
    <filter>

	<filter-name>EncodingFilter</filter-name>
	<filter-class>
		net.einwaller.filters.EncodingFilter
	</filter-class>

	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>

    </filter>

    <filter-mapping>
        
            <filter-name>EncodingFilter</filter-name>
            <url-pattern>/*</url-pattern>
    </filter-mapping>
 
    
</web-app>
